.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
.DS_Store
.git
.gitignore
Dockerfile
*.pt
*.pth
models/
efficientdet_d0_coco17_tpu-32/
build.sh
test_local.sh
README_DEPLOY.md
README.md
